/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

.order-comments-title {
    @extend .order-wizard-title;
}

.order-comments-container {
    @extend .box-column;
}

.order-comments-input {
    width:100%;
    background: #f7f7f7;
    color: #666;
    font-size: 13px;
    @extend .input-large;
}

.instructionlabel{
    font-size: 18px;
    color: #666;
    margin-top: 10px;
    font-weight: 600;
	@extend .order-wizard-paymentmethod-purchasenumber-module-purchase-order-label;
}
.order-comments-containers {
   	padding: 30px;
    padding-top: 5px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-top: none;
    border-bottom: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
   margin-bottom: 30px;
   color: #666;
}
.available-section{
	margin-bottom: 30px;
    border-top: none;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 4px;
        padding-top: 15px;
        font-size: 13px;
        color: #666;
    font-weight: 600;
}
.available-section strong{
    font-weight: 600;
}
/*.Review_page {
    border-top: 1px solid #e3e3e3;
}*/
.wizard-step-contents .address-details-action-remove {
    display: inline-block;
}
.delivery-details-message{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
}
.delivery-details-text{
    font-size: 13px;
    margin-top: 5px;
}
.order-comments-freight-agreement{
    padding-top: 30px;
}